### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
* Player Lisaosia93 bought the most items and spent $18.96

* Oathbreaker, Last Hope of the Breaking Storm appears to be purchased the most at the highest dollar value. Nirvana and the Fiery Glass Crusader are the 2nd and 3rd most profitable items.
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [71]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [63]:

purchtot = purchase_data.groupby(["SN"])
total_purch = len(purchtot)
purch_count_summary = pd.DataFrame({"Total Players":total_purch},index=[0])
purch_count_summary

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [76]:
totuniqueitems = purchase_data.groupby(["Item ID","Item Name"])
unique_items = len(totuniqueitems)
totrevenue = purchase_data["Price"].sum()
totalplayers = purchase_data["SN"].count()
avgprice = round(totrevenue/totalplayers,2)

summarytable = pd.DataFrame([{"Number of Items":unique_items, "AvgPrice":avgprice, "Revenue": totrevenue, "Total Purchases":totalplayers }])
summarytable.style.format({"AvgPrice": '${:.2f}', "Revenue": '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [77]:
gender_count = purchase_data.groupby("Gender")["SN"].nunique()

gender_percent = round(gender_count/totnumplayers,2)

gender_summary = pd.DataFrame({"Gender Count": gender_count, "Gender Percentage": gender_percent})
gender_summary.style.format({"Gender Percentage": '{:,.2%}'})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [78]:
genderpurch = purchase_data.groupby("Gender")["Purchase ID"].nunique()
totalpurchgend = purchase_data.groupby("Gender")["Price"].sum()
avgtotperson = purchase_data.groupby("Gender")["Price"].mean()
avgpurchprice = totalpurchgend/gender_count
purchdf = pd.DataFrame({"Purchase Count": genderpurch, "Avg Purchase Price": avgtotperson,"Total Purchase Value":totalpurchgend, "Avg Purchase Price per Person": avgpurchprice})

purchdf.style.format({"Avg Purchase Price": '${:.2f}', "Total Purchase Value": '${:,.2f}',"Avg Purchase Price per Person":'${:.2f}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [79]:
bins = [0, 10, 15, 20, 25, 30, 35, 40, 60]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']


purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

age_groups = purchase_data.groupby("Age Group").count()
age_groups = age_groups[["Age"]]
age_groups = age_groups.rename(columns={"Age": "Total Count"})
age_groups["Percentage of Players"] = age_groups["Total Count"] / totnumplayers * 100
age_groups = age_groups[["Percentage of Players", "Total Count"]]
pd.options.display.float_format = '{:,.2f}'.format

age_groups

           Percentage of Players  Total Count
Age Group
<10                         5.56           32
10-14                       9.38           54
15-19                      34.72          200
20-24                      56.42          325
25-29                      13.37           77
30-34                       9.03           52
35-39                       5.73           33
40+                         1.22            7

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [80]:
topspenders = purchtot[["Price"]].sum().nlargest(5,"Price")
topspenders = topspenders.rename(columns={"Price": "Total Purchase $"})
pplpurchase = purchtot[["Price"]].count()
pplpurchase = pplpurchase.rename(columns={"Price": "Purchase Count"})
merge1 = topspenders.join(pplpurchase)
avg_purch = purchtot[["Price"]].mean()
avg_purch = avg_purch.rename(columns={"Price": "Average Purchase Price"})
merge2 = merge1.join(avg_purch)
topspenders = merge2[["Purchase Count", "Average Purchase Price", "Total Purchase $"]]
topspenders

             Purchase Count  Average Purchase Price  Total Purchase $
SN
Lisosia93                 5                    3.79             18.96
Idastidru52               4                    3.86             15.45
Chamjask73                3                    4.61             13.83
Iral74                    4                    3.40             13.62
Iskadarya95               3                    4.37             13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [81]:
topitems = totuniqueitems[["Price"]].count().nlargest(5,"Price")
topitems = topitems.rename(columns={"Price": "Purchase Count"})
item_prices = totuniqueitems[["Price"]].mean()
item_prices = item_prices.rename(columns={"Price": "Item Price"})
merge1 = topitems.join(item_prices)
item_purchase_tot = totuniqueitems[["Price"]].sum()
item_purchase_tot = item_purchase_tot.rename(columns={"Price": "Total Purchase Value"})
topitems = merge1.join(item_purchase_tot)

topitems

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
145,Fiery Glass Crusader,9,4.58,41.22
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [82]:
toppurchvalue = totuniqueitems[["Price"]].sum().nlargest(5,"Price")
toppurchvalue = toppurchvalue.rename(columns={"Price": "Total Purchase Value"})
toppurchvalue
item_purchases = totuniqueitems[["Price"]].count()
item_purchases = item_purchases.rename(columns={"Price": "Purchase Count"})
merge1 = toppurchvalue.join(item_purchases)
item_prices = totuniqueitems[["Price"]].mean()
item_prices = item_prices.rename(columns={"Price": "Item Price"})
merge2 = merge1.join(item_prices)
toppurchvalue = merge2[["Purchase Count", "Item Price", "Total Purchase Value"]]
toppurchvalue

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80

*